@media screen and (max-width:480px){


  body {
    background-color: rgba(45, 73, 85, 0.884);
  }

  h1 {
    font-size: 40px;
    color: rgb(248, 247, 247);
  }

  p {
    color:aliceblue;
  }
  #canvas {
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */

    
    /*好きな背景を設定してください*/
    min-height:300px;
  }
  
  html,
  body {
    margin: 0;
    overflow: hidden;
  }
  @keyframes anim {
    100% {
      color: transparent;
      top: 150%;
    }
  }
}

